<div class="row">
  <div class="col-md-8">

    <form ng-submit="$ctrl.updatePost()" novalidate name="$ctrl.postForm">
      <div ng-class="{
        'has-error' : $ctrl.postForm.title.$invalid
      }">
        <label for="title">Title</label>
        <input id="title" class="form-control" ng-model="$ctrl.post.title" required name="title">
      </div>
      <div ng-class="{
        'has-error' : $ctrl.postForm.body.$invalid
      }">
        <label for="body">Body</label>
        <textarea id="body" class="form-control" ng-model="$ctrl.post.body" required name="body"></textarea>
      </div>
      <div ng-class="{
        'has-error' : $ctrl.postForm.author.$invalid
      }">
        <label for="author">Author</label>
        <input id="author" class="form-control" ng-model="$ctrl.post.author" required name="author">
      </div>
      <div ng-class="{
        'has-error' : $ctrl.postForm.image.$invalid
      }">
        <label for="image-url">Image URL</label>
        <input id="image-url" class="form-control" ng-model="$ctrl.post.image_url" required name="image_url">
      </div>
      <div class="form-group">
        <button ng-disabled="$ctrl.postForm.$invalid" type="submit" class="btn btn-primary">
          Update
        </button>
      </div>
    </form>

  </div>
</div>
